.quiz--container {
  max-width: 600px;
  height: 600px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  font-family: "Karla", sans-serif;
  margin-top: 5%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #f5f7fb;
  padding-top: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  
}
.quiz--button {
  background: #4d5b9e;
  border-radius: 10px;
  width: 120px;
  height: 35px;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  color: #f5f7fb;
  cursor: pointer;
  
}
.quiz--button--container {
  text-align: center;
  padding-top:8px;
}
