.singlequestion {
  display: flex;
  flex-direction: column;
  height: 52px;
  margin-bottom: 14px;
  margin-top: 14px;
}
.singlequestion > h2 {
  max-width: 500px;
  font-family: "Karla";
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  padding-bottom: 12px;
}

.options--container {
  display: flex;
  max-width: 550px;
  gap: 20px;
  padding-bottom: 14px;
}

.options--container > div {
  max-width: 200px;
  height: 30.65px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  color: #293264;
  cursor: pointer;
  padding-top:7px;
  padding-bottom: 7px;
  padding-left: 8px;
  padding-right: 8px;
}
/* .options--container > div:nth-child(1) {
  background-color: #d6dbf5;
} */
hr {
  width: 540px;
  background-color: #dbdef0;
}
